{% extends 'base.html' %}

{% block title %}Профиль | De_Fast_Step{% endblock %}

{% block content %}
    <section class="profile">
        <h1>Профиль пользователя {{ user.username }}</h1>
        <h2>Ваши бронирования</h2>
        <ul>
            {% for booking in bookings %}
                <li>Бронирование из {{ booking.start_location }} в {{ booking.end_location }}
                    на {{ booking.start_time }} - Статус: {{ booking.status }}</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
