{% extends 'base.html' %}

{% block title %}Главная | De_Fast_Step{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-content">
            <h1>Добро пожаловать в De_Fast_Step</h1>
            <p>Ваша надежная компания для транспортных услуг.</p>
            <a href="{% url 'book_transfer' %}" class="btn">Заказать трансфер</a>
        </div>
    </section>
    <section class="about">
        <h2>О нас</h2>
        <p>De_Fast_Step предоставляет быстрые и надежные трансферные услуги для удовлетворения ваших транспортных
            потребностей. Наши опытные водители и хорошо обслуживаемые транспортные средства обеспечивают безопасное и
            комфортное путешествие каждый раз.</p>
        <p>Мы гордимся тем, что являемся одной из самых доверенных компаний в отрасли, предлагая высокое качество
            обслуживания по доступным ценам. С нами вы всегда можете быть уверены в своевременном и безопасном прибытии
            в пункт назначения.</p>
        <p>Наши преимущества:</p>
        <ul>
            <li>Высокая надежность</li>
            <li>Доступные цены</li>
            <li>Квалифицированные водители</li>
            <li>Современные транспортные средства</li>
        </ul>
    </section>
{% endblock %}
